body{
    width: 100%;
    margin: 0;
}
img{
    width: 250px;
}
header{
height: 100vh;
background-image: url(背景.jpg);
background-position: center;
background-size: cover;
    
}
header h1{
    color: skyblue;
}
.con1{
    width: 100%;
}
.center{
    width: 50%;
    margin: 0 auto;
    text-align: center;
}
.flex{
    display: flex;
    justify-content: space-between;
}
.com{
    flex-flow: row-reverse;
}
.w{
    width: 60%;
}
.x{
    width: 30%;
}
.y{
    width: 70%;
}
.z{
    width: 70%;
}
footer{
    text-align: center;
    color: skyblue;
}



